deploy:
  stage: deploy
  image: node:13.10.1-alpine3.10
  environment:
    name: production
    url: https://your.website.com
  only:
    - feature/vercel-cli
  script:
    - npm i -g vercel
    - npm i
    - npm run build
    - VERCEL_ORG_ID=$VERCEL_ORG_ID VERCEL_PROJECT_ID=$VERCEL_PROJECT_ID vercel --token $VERCEL_TOKEN --env APIL_URL=$API_URL --env DATOCMS_API_TOKEN=$DATOCMS_API_TOKEN --env DATOCMS_PREVIEW_SECRET=$DATOCMS_PREVIEW_SECRET

deploy-main:
  stage: deploy
  image: node:13.10.1-alpine3.10
  environment:
    name: production
    url: https://your.website.com
  only:
    - main
  script:
    - npm i -g vercel
    - npm i
    - npm run build
    - VERCEL_ORG_ID=$VERCEL_ORG_ID VERCEL_PROJECT_ID=$VERCEL_PROJECT_ID vercel --token $VERCEL_TOKEN --prod --env APIL_URL=$API_URL --env DATOCMS_API_TOKEN=$DATOCMS_API_TOKEN --env DATOCMS_PREVIEW_SECRET=$DATOCMS_PREVIEW_SECRET