stages:
  - install
  - test
  - build
  - deploy
  - deploy-prod
image: node:latest

cache:
  key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
  policy: pull
  paths:
    - .npm/
    - .npm-global/
    - node_modules/
    - .next/

install:
  stage: install
  only:
    - feature/vercel-cli
    - main
  script:
    - npm ci — cache .npm — prefer-offline

test:
  stage: test
  only:
    - feature/vercel-cli
    - main
  script:
    - npm run type-check
    - npm run lint

build:
  stage: build
  only:
    - feature/vercel-cli
    - main
  script:
    - npm run build

deploy:
  stage: deploy
  only:
    - feature/vercel-cli
  script:
    - VERCEL_ORG_ID=$VERCEL_ORG_ID VERCEL_PROJECT_ID=$VERCEL_PROJECT_ID npx vercel --token $VERCEL_TOKEN


deploy-prod:
  stage: deploy-prod
  only:
    - main
  script:
    - VERCEL_ORG_ID=$VERCEL_ORG_ID VERCEL_PROJECT_ID=$VERCEL_PROJECT_ID npx vercel --token $VERCEL_TOKEN --prod
