stages:
  - install
  - test
  - build
  - deploy
image: node:latest
cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .npm/

install:
  stage: install
  only:
    - feature/vercel-cli
  script:
    - npm i -g vercel
    - npm i

test:
  stage: test
  only:
    - feature/vercel-cli
  script:
    - npm run type-check
    - npm run lint

build:
  stage: build
  only:
    - feature/vercel-cli
  script:
    - npm run build

deploy:
  stage: deploy
  only:
    - feature/vercel-cli
  script:
    - VERCEL_ORG_ID=$VERCEL_ORG_ID VERCEL_PROJECT_ID=$VERCEL_PROJECT_ID vercel --token $VERCEL_TOKEN
