deploy:
  stage: deploy
  image: node:13.10.1-alpine3.10
  environment:
    name: production
    url: https://your.website.com
  only:
    - feature/vercel-cli
  script:
    - npm i -g vercel
    - npm i
    - npm run build
    - APIL_URL=$API_URL DATOCMS_API_TOKEN=$DATOCMS_API_TOKEN DATOCMS_PREVIEW_SECRET=$DATOCMS_PREVIEW_SECRET VERCEL_ORG_ID=$VERCEL_ORG_ID VERCEL_PROJECT_ID=$VERCEL_PROJECT_ID vercel --token $VERCEL_TOKEN
